$color-text: black;
// $color-background: #e8e8e8;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

:root {
  --bg-color: #e8e8e8;
  --text-color: #000000;
  --navbar-bg: #ffffff;
  --card-color: #e8e8e8;
  --card-title-color: #696969;
  --card-text-color: black;
  --elevator-pitch: #e8e8e8;
  --card-border: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --navbar-bg: #121212;
  --card-color: #696969;
  --card-text-color: #e8e8e8;
  --card-title-color: #121212;
  --elevator-pitch: #121212;
  --card-border: white;
}


html,
body {
  // color: $color-text;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%; 
  // background-color: var(--background-color);
  // color: var(--text-color);
}

body {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-text-size-adjust: 100%; 
}

@media (min-width: $breakpoint-tablet) {
  html,
  body {
    font-size: 20px; 
    margin-right: .5rem;
    padding-right: .5rem;
  }
}

.section {
  min-height: 25vh;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  &:first-child {
    margin-top: 4rem;
  }
  &:last-child {
    margin-bottom: 4rem; 
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box; 
}

.hidden-mobile {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .hidden-mobile {
    display: initial;
  }
  .hidden-desktop {
    display: none;
  }
  .section {
    margin: 2rem;
  }
}

// Ensure content is always scrollable
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}