$color-text: black;
$color-background: yellow;
// $color-background: #406a71;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

html,
body {
  scroll-snap-type: x mandatory;
  color: $color-text;
  // overflow-y: scroll;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: $color-background;
}

@media (min-width: $breakpoint-tablet) {
  html,
  body {
    font-size: 20px; 
    // overflow-y: scroll;
  }
}


.section {
  min-height: 20vh;
  display: flex;
  padding: 1rem;
  // margin: 0 3rem;
  flex-direction: column;
  justify-content: center;
  &:first-child {
    margin-top: 4rem;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.hidden-mobile {
  display: none;
}

@media (min-width: $breakpoint-tablet) {
  .hidden-mobile {
    display: initial;
  }
  .hidden-desktop {
    display: none;
  }
  .section{
    margin: 3rem;
  }
}
