// src/styles/Navbar.module.scss

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FF4911;
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease;
  height: 4rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  color: #ffffff;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navItems {
  display: none; 

}

.hamburger {
  display: block;
  cursor: pointer;

  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.8s ease;
  }
}

.open {
  .navItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: green;
    padding: 1rem 0;
  }

  .navItem {
    margin: 0.5rem 0;
  }
}

.navItem {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: black; 
  }
}

@media (min-width: 768px) {
  .navbarContainer {
    .navItems {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navItem {
      margin: 0 1rem;
    }

    .hamburger {
      display: none;
    }
  }
}