.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

.projectCard {
  width: 100%;
  border: 3px solid var(--card-border);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  overflow: hidden;
  min-height: 100%; 
  text-decoration: none;
}

.cardFront {
  display: flex;
  flex-direction: column;
  height: 100%; // Take full height of the card
  color: var(--card-text-color);
}

.titleBar {
  background-color: var(--card-title-color);
  margin-bottom: 1rem;
  cursor: pointer;
  & h3{
    margin-left: .5rem;
    color: white;
  }
}


.cardContent {
  padding: 2rem;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
  color: var(--card-color);
}

.elevatorPitch {
  margin-bottom: 1rem;
  margin-left: .5rem;
  padding-right: .5rem;
}

.teamSize {
  margin-top: auto; // Push this to the bottom of cardContent
  margin-left: .5rem;
}

.technologiesGrid {
  background-color: var(--card-title-color);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto; 
}

@media (max-width: 768px) {
  .projectsContainer {
    grid-template-columns: 1fr;
  }
}